.línea{
    display: flex;
    font-family: Poppins;
    list-style: none;
}

section{
    display: block;
    justify-content: center;
    font-family:Bebas Neue;
    font-size: 100px;
    color: whitesmoke;
}
.headers{
    display: flex;
    flex-direction: row;
    color: lightslategrey;
    font-family: Quicksand;
    margin: 0 auto;
    width: 80%;
}
.footer-elements{
    flex: 1;
    padding: 0 8px;
    text-align: center;
}
.tittle{
    position: absolute;
    top: 600px;
    color: rgb(177, 187, 197);
}

body{
background-color: black;
    
}

.línea li{
    margin: 0 10px;
}

.línea li a{
    text-decoration: none;
    color:white;
}

article{
    display: inline;
    justify-content: left;
    font-family: Bebas neue;
    font-size: 30px;
    color: whitesmoke;
}

