.línea{
    display: flex;
    font-family: Poppins;
    list-style: none;
}

section{
    display: block;
    justify-content: center;
    font-family:Bebas Neue;
    font-size: 100px;
    color: whitesmoke;
}
.footer-base{
    display: flex;
    flex-direction: row;
    color: lightslategrey;
    font-family: Quicksand;
    margin: 0 auto;
    width: 80%;
}
.footer-elements{
    flex: 1;
    padding: 0 8px;
    text-align: center;
}
.tittle{
    position: absolute;
    top: 600px;
    color: rgb(177, 187, 197);
}

body{
background-color: black;
    
}

.línea li{
    margin: 0 10px;
}

.línea li a{
    text-decoration: none;
    color:white;
}

article{
    display: inline;
    justify-content: left;
    font-family: quicksand;
    font-size: 30px;
    color: whitesmoke;
}
.peliculas-producidas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    margin: 5%;
}

#hero{
    width: 100%;
    height: 500px;
    background: linear-gradient(transparent, black), url(../Peliculas-Disney/Imágenes/SOUL-PIXAR.jpg); no-repeat center;
    position: absolute;
    z-index: -1;
    background-size: cover;

}

#video-container iframe{
    position: absolute;
    margin: 40px auto;
    width: 50%;
    height: 60%;
}

.paralax{
background: linear-gradient(transparent, rgb(0, 0, 0)), url(../Peliculas-Disney/Imágenes/waltdibujando.jpg);
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-position-y: 20;
}

.paralax p{
    width: 100%;
}

.primeros-mickeys{
    display: flex;
}

.contacto{
    font-family: quicksand;
}

.peliculas-live-action-producidas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    margin: 5%; 
}

