.línea{
    display: flex;
    font-family: Poppins;
    list-style: none;
}
section{
    display: flex;
    justify-content: center;
    font-family:Bebas Neue;
    
}
body{
    
}

.línea li{
    margin: 0 8px;
}

.línea li a{
    text-decoration: none;
    color: black;
}